.btn-success:hover{
    background-color: rgb(247, 4, 194);
    
    
}

canvas{
    animation-name:Bhaavan;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}



@keyframes Bhaavan {
from{box-shadow:1px 1px 38px orangered} 
to{box-shadow: 1px 1px 38px blue;}   
}
@keyframes resizer {
    from{box-shadow:1px 1px 38px green;font-size: 25px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
    to{box-shadow:1px 1px 38px red;font-size: 40px;font-family: cursive;}
}

.btn-warning{
    animation-name:resizer;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

